@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@100&family=Space+Grotesk:wght@500;700&display=swap');
* {
	margin: 0;
	padding: 0;
}
$font-stack: "Space Grotesk", Helvetica, sans-serif;
$black: #151515;
$green: #4ee1a0;
$black-light: #242424;
$grey: #d9d9d9;
$white: #fff;

body {
	background-color: $black;
	color: $white;
	font-family: $font-stack;
}

li {
	list-style: none;
}

hr {
	width: 80%;
	margin: auto;
	
}

header {
	display: flex;
	justify-content: center;
	text-align: center;

	.image-container {
		width: 60%; /* Set your desired width here */
		margin: 0 auto; /* Center the container horizontally */
		position: relative; /* Set the container as the reference for the absolute positioning of the child elements */
	}
	  
	.image-container img {
		display: block; /* Make the image a block element */
		width: 100%; /* Make the image fill the container horizontally */
		height: auto; /* Maintain the aspect ratio of the image */
	}
	  
	h1 {
		position: absolute; /* Position the list and heading absolutely within the container */
		top: 10%; /* Position them in the vertical middle of the container */
		left: 50%; /* Position them in the horizontal middle of the container */
		transform: translate(-50%, -50%); /* Center them perfectly within the container */
		width: max-content;
		font-size: 2.4em;
	}

	ul {
		position: absolute; /* Position the list and heading absolutely within the container */
		top: 20%; /* Position them in the vertical middle of the container */
		left: 50%; /* Position them in the horizontal middle of the container */
		transform: translate(-50%, -50%); /* Center them perfectly within the container */
		display: flex;
		justify-content: center;

		li {
			margin: 10px 20px;
		}
	}
	
	.rings {
		position: absolute;
		right: 50vw;
		top: 20vh;
	}

	.circle {
		position: absolute;
		left: 80vw;
		top: 45vh;
	}
	h2 {
		padding: 30px 15px;
		font-size: 2.3em;

		span {
			border-bottom: 3px solid $green;
		}
	}

	p {
		color: $grey;
		margin: 25px 40px;
	}

	button{
		font-size: 2em;
		background-color: #151515;
		color: white;
		border: none;
		border-bottom: 2px solid #4ee1a0;
		margin-bottom: 80px;
	}
}


